#plan
	padding 50px 0
	background-color: #F7F3F3
.plan-title
	color MO
	font-size: 22px
	font-family: FB
	font-weight: bold
	margin-bottom: 15px
.general-list-2-plan
	margin-bottom: 40px
.general-list-2-img
	position relative
	&:before
		content: ''
		display block
		position absolute
		width 252px
		height 89px
		background-image url(../img/icons/waves.png)
		background-repeat no-repeat
		background-position: center
		background-size contain
		right 0
		left 0
		margin 0 auto
		bottom: -150px