#prices
	padding 60px 0
	background-image url(../img/backs/features.png)
	background-repeat no-repeat
	background-position: top center
	background-size: 100% auto
.packets
	width 100%
	max-width 900px
	margin 0 auto
.packet
	background-color #fff
	border-radius: 10px;
	box-shadow: 0px 1px 44.16px 1.84px rgba(0, 0, 0, 0.3);
	width 100%
	max-width: 360px;
	margin 230px auto 45px
	padding 90px 0 40px
	text-align center
.packet-head
	position relative
	&-title
		position: absolute
		display block
		border-radius: 50%
		width 300px
		height 300px
		top: -330px
		left 0
		right 0
		margin 0 auto
		color #fff
		padding 120px 0 0
		font-family: FB
		font-weight: bold
		font-size: 30px
		line-height: 40px
		&-1
			background-color: #FF9E1E
			box-shadow: 0 1px 24px 7px rgba(#FF9E1E,.5)
		&-2
			background-color: #2DE23E
			box-shadow: 0 1px 24px 7px rgba(#2DE23E,.5)
		span
			display block
			font-size: 20px
.packet-body
	padding: 0 40px
	&-text
		font-size: 20px
.more-button
	font-size: 16px
	display inline-block
	font-style: italic
	border-bottom: 1px dashed
	color rgba(0,0,0,.7)
	&:focus
		text-decoration none
	&:hover
		color #000
		text-decoration none
.cost
	margin 20px 0
	font-size: 24px
	span
		display block
		font-size: 46px
		font-family: FB
		font-weight: bold
		color MO