@import 'base/fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import 'base/base'

@import 'base/header'
@import 'course/1.main'
@import 'main/3.feats'
@import 'main/4.get'
@import 'main/5.waits'
@import 'course/2.plan'
@import 'course/3.prices'
@import 'main/7.authors'
@import 'course/4.last'
@import 'base/footer'
@import 'course/5.modal'
@import 'course/6.medias'