-var path = '../';
-var head_url = 'https://children-camp.mastervision.su/course/';
-var head_title = 'Территория детства «Летний онлайн-лагерь»';
//- -var head_description = '2-дневный онлайн-мастер-класс';
//- -var head_img = 'img/banner.jpg';
-var styles = path+'css/course.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scripts = path+'js/course.min.js';
-var href = '#prices'
//- -var action = '';
//- -var group = '';
//- -var formId = '';
//- -var formVc = '';

-var footer_title = true
-var oferta = 'https://mastervision.su/oferta.docx'

mixin b(cl,href,p,target,id)
	a.button(class=cl href=href target=target id=id)=p
mixin gt(cl,h3)
	h3.general-title(class=cl)=h3

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/course/1.main.pug
		include pug/main/3.feats.pug
		include pug/main/4.get.pug
		include pug/main/5.waits.pug
		include pug/course/2.plan.pug
		include pug/course/3.prices.pug
		include pug/main/7.authors.pug
		include pug/course/4.last.pug
		include pug/base/footer.pug
		include pug/course/5.modal.pug
		include pug/base/scripts.pug
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts