#features
	padding 0 0 70px
	background-image url(../img/backs/features.png)
	background-repeat no-repeat
	background-position: top center
	background-size: 100% auto
	position relative
	.container
		position relative
		&:before
			content: ''
			display block
			position absolute
			width 252px
			height 89px
			background-image url(../img/icons/waves.png)
			background-repeat no-repeat
			background-position: center
			background-size contain
			left auto
			bottom: -90px
			right 0
.features-back
	position absolute
	z-index 0
	width 100%
	top 0
	left 0
	right 0
	margin 0 auto

.features-subtitle
	font-size: 26px
	font-family: FB
	font-weight: bold
	color MO
	margin-bottom: 10px
.general-list-features
	margin-left: 40px
	li
		&:nth-child(6)
		&:nth-child(7)
			max-width 740px