.modal
	display none
	padding 0
	background-color: transparent
	cursor: auto !important
.form-title-modal
	text-align center
	margin-bottom: 30px
.input-mail-modal
	display block
	float none
	margin 0 auto 20px
.button-form-modal
	display block
	float none
	margin 0 auto