@media screen and (min-width 1900px)
	#waits
		background-size: 100% 100%
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
@media screen and (max-width 1199px)
	#main
		padding 0 0 200px
		background-position: top right -300px
	.form-main
		bottom: -55%
		&:before
			top 10px
			right 10px
	.input-mail
		float none
		display block
		margin 0 auto 20px
	.button-form
		float none
	.author-img-ilya
		img
			position relative
			left -150px
			bottom: -60px
	.importants-item
		min-height 588px
	.importants-item-subtitle
		min-height 115px
@media screen and (max-width 991px)
	#main
		background-position: bottom right -400px
	.form-title
		text-align center
		margin-bottom: 20px
	#features
		padding 90px 0 70px
	.general-list-features
		margin-left: 0
	// .general-list-get li
	// 	display flex
	// 	align-items: center
	// 	flex-direction: row
	.general-list-get-1 li
		text-align: left 
		padding 0 0 0 60px
		margin-right: 0
		&:before
			right 0
			left 0
	.general-list-get-2 li
		margin-left: 0
	.importants-item
		min-height 1px
		&-2
		&-3
			margin-top: 240px
		&-subtitle
			min-height 1px
			margin-bottom: 20px
	.author-img
		img
			display block
			margin 0 auto
			width 100%
		max-width 560px
	.author-img-ilya img
		left auto
		bottom: auto
	#get
		padding 500px 0 0
		background-position: top center
@media screen and (max-width 767px)
	header
		margin-bottom: 15px
	.header-logo
		float: none
		margin 0 auto 5px
		display block
	.contacts
		float: none
		text-align center
	.contact
		line-height: 1
		display inline-block
	#main
		text-align center
		padding 0 0 40px
	 #main .container:before
		bottom: 0
		z-index -1
	.main-title
		font-size: 38px
	.main-subtitle
		max-width none
	.form-main
		position: static
		margin-top: 30px
		padding 30px
		&:before
			position: static
			margin 0 auto 10px
	.checking
		max-width 300px
	.checking .check-label
		line-height: 18px
	#about
		padding 40px 0
	.about-text
		margin-bottom: 20px
	.general-title
		font-size: 28px
		text-align center
	.general-list-2 li:last-child
		margin-bottom: 10px
@media screen and (max-width 485px)
	header
		margin-bottom: 5px
	.header-logo
		width 80px
		margin-bottom: 0
	.contacts
		line-height: 1
	.contact
		font-size: 14px
	.main-title
		font-size: 32px
		line-height: 1.1
	.main-subtitle
		font-size: 24px
	.main-info
		font-size: 18px
	.form-main
		padding 20px
	.form-title
		font-size: 26px
	.about-text
		margin-bottom: 10px
		&:last-child
			margin-bottom: 30px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	.features-subtitle
		font-size: 22px
	.general-list li
		font-size: 20px
		margin-bottom: 10px
	#get
		padding 450px 0 0
	#waits
		padding 60px 0
	.waits-item-container
		padding 20px
	.waits-item-container-title
		font-size: 22px
		margin-bottom: 10px
	.importants-subtitle
		margin-top: 30px
		font-size: 22px
	.importants-item
		padding 80px 20px 20px
	.importants-item-subtitle
		margin-bottom: 10px
	.author-img-igor:before
		top 30px
	.author-container
		padding 20px
	.author-container-name
		font-size: 26px
		margin-bottom: 20px
	footer
		padding 15px 0
@media screen and (max-width 385px)
	header
		margin-bottom: 0
	.main-title
		font-size: 28px
	.main-subtitle
		font-size: 22px
		margin 15px 0
	.main-info span
		display block
	.form-title
		font-size: 24px
		margin-bottom: 10px
	#about
		padding 30px 0
	#features
		padding 50px 0 30px
	.general-title
		font-size: 24px
		margin-bottom: 25px
	.features-subtitle
		font-size: 20px
	.general-list li
		font-size: 18px
		padding-left: 0
		&:before
			position: static
	#features .container:before
		content none
	.importants-subtitle
		font-size: 20px
	.importants-item-title
		width 200px
		height 200px
		background-size: 100px
		padding 115px 0 0 
		top -135px
	.waits-item-1:before
		left -50px
	.importants-item-title span:first-child
		font-size: 40px
	.importants-item-2, .importants-item-3
		margin-top: 180px
	.waits-item-container
	.author-container
		padding 15px
	#waits
		padding 40px 0