F = 'FuturaRound';
FB = 'FuturaRoundBold';

@font-face {
	font-family: 'FuturaRound';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local  url('../fonts/FuturaRound.eot');
	src: url('../fonts/FuturaRound.eot');
	src: url('../fonts/FuturaRound.eot') format('embedded-opentype'),
		 url('../fonts/FuturaRound.woff2') format('woff2'),
		 url('../fonts/FuturaRound.woff') format('woff'),
		 url('../fonts/FuturaRound.ttf') format('truetype'),
		 url('../fonts/FuturaRound.svg#FuturaRound') format('svg');
}
@font-face {
	font-family: 'FuturaRoundBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local  url('../fonts/FuturaRoundBold.eot');
	src: url('../fonts/FuturaRoundBold.eot');
	src: url('../fonts/FuturaRoundBold.eot') format('embedded-opentype'),
		 url('../fonts/FuturaRoundBold.woff2') format('woff2'),
		 url('../fonts/FuturaRoundBold.woff') format('woff'),
		 url('../fonts/FuturaRoundBold.ttf') format('truetype'),
		 url('../fonts/FuturaRoundBold.svg#FuturaRoundBold') format('svg');
}