section#about
	.container
		p.about-text За свою жизнь Вы, наверно, сталкиваетесь со скучными предметами, которые становились интересными, благодаря харизме и опыту преподавателя. Однако, скорее всего, видели и обратную картину: интересный предмет был испорчен некомпетентным педагогом.За долгие годы работы с детьми мы поняли, что их мозг работает, как губка. Если объяснить выгоду от изучения материала, то они будут впитывать всё: химию, географию, иностранные языки, математику и т.д.
		p.about-text На курсах мы развиваем логику, внимание, память, пробуждаем любопытство. Это позволяет детям становиться отличниками, заканчивать школу досрочно, исправлять плохие оценки, успешно сдавать экзамены».
		.row
			.col-md-6.col-sm-6.col-md-push-6.col-sm-push-6
				p.about-text Чем наш формат лучше базового образования?  Любая система является жёсткой, костной и неповоротливой. Образовательная система сильно отстаёт от реалий и всегда находится на несколько больших шагов позади. При этом вскоре будут появляться новые профессии, о которых мы сейчас даже не подозреваем. В своей программе мы учитываем изменения, которые происходят в настоящий момент. 
				p.about-text Как бы родители ни относились с опаской к гаджетам, виртуальному миру и онлайн-общению – это неизбежное будущее наших детей. Мы предлагаем детям новый увлекательный опыт и наиболее эффективный формат обучения, при котором ребёнок будет проявлять больше интереса и получать больше результата, – ИГРУ.
				p.about-text Ваши
					br
					| ИЛЬЯ ИСАКОВ
					br
					| ИГОРЬ РОМАНЕЦ
			.col-md-6.col-sm-6.col-md-pull-6.col-sm-pull-6
				.laptop-wrapper
					.video-wrapper.video-wrapper-laptop.video-wrapper-laptop-about
						iframe(src="https://youtube.com/embed/?modestbranding=1&autoplay=1&mute=1" allowfullscreen)