section#features
	.container
		+gt('','Это уникальный проект, в котором многолетний и самый успешный опыт преподавания удалось адаптировать под онлайн-формат!')
		h4.features-subtitle Преимущества или Как это поможет родителям
		ul.general-list.general-list-features
			li
				span Это абсолютно новый подход 
				| к преподаванию, сильно отличающийся от классического образования
			li
				span Обучение будет проходить в увлекательном формате, 
				| при котором ребёнок будет максимально вовлечён и заинтересован
			li
				span Эффективные методики 
				| в виде парной работы или командных игр повысят коммуникационные навыки и повысят результативность
			li
				span Ваш ребёнок 
				| будет занят несколько часов в неделю и будет проводить время в полезной среде
			li
				span Дети будут находиться под чутким руководством 
				| преподавателей, кураторов, взаимодействовать с одногруппниками, что самым положительным образом отразиться на самостоятельности, эффективной работе с информацией, памяти и коммуникативных способностях
			li
				span Вы увидите 
				| как Ваш ребенок меняется в лучшую сторону, без Вашего участия
			li
				span У Вас появиться 
				| свое свободное время, без ущерба для воспитания ребенка