section#get
	.container
		+gt('','Чему научится Ваш ребёнок')
		.row
			.col-md-6
				ul.general-list.general-list-get.general-list-get-1
					li
						span Будет максимально подготовлен 
						| к тому, что в будущем ему придётся постоянно обучаться
					li
						span Научится использовать 
						| универсальные инструменты по развитию памяти и внимания, применимые в любых областях: от изучения иностранных языков – до запоминания текстов
					li
						span Будет распознавать, 
						| пользоваться и управлять своими чувствами. Осознает, что учёба – это его зона ответственности и какую роль в ней играют учителя и родители
					li
						span Уловит принципы общения 
						| в команде, осознает её роль и преимущества, оценит статус лидера. Узнает, что такое дружба и для чего она нужна, а также чем родители отличаются от друзей
			.col-md-6
				ul.general-list.general-list-get.general-list-get-2
					li
						span Станет более 
						| интеллектуальным и эрудированным
					li
						span Освоит навыки, 
						| которые позволят ему обучаться самостоятельно и не отвлекать родителей от повседневных дел
					li
						span Будет с лёгкостью переживать 
						| семейные трудности и лучше понимать поведение родителей
					li
						span Без проблем и комплексов 
						| начнёт знакомиться с другими детьми
					li
						span Общаться в атмосфере 
						| доверия и безопасности
					li
						span Поймёт свою личную силу
						| , гордость за себя и выявит свои индивидуальные особенности, достижения и победы
					li
						span Научится мечтать 
						| и ставить цели, а также отличать цели от мечты
		+b('button-up button-get',href,'Узнать подробнее')