section#waits
	.container
		.row
			.col-md-6.col-sm-6
				.waits-item.waits-item-1
					.waits-item-container
						h4.waits-item-container-title Что ждёт детей в онлайн-лагере
						ul.general-list-2.general-list-waits-container
							li Тематические вебинары
							li Работа в парах
							li Командные игры
							li Онлайн-игра Admind с вопросами на логику, рассуждения и эрудицию
							li Серия игр, направленных на развитие оригинальности и критичности мышления
			.col-md-6.col-sm-6
				.waits-item.waits-item-2
					.waits-item-container
						h4.waits-item-container-title Навыки, которые получит ребёнок за время работы онлайн-лагеря
						ul.general-list-2.general-list-waits-container
							li Быстрое запоминание иностранных слов
							li Уверенная работа с текстами
							li Запоминание текстов
							li Запоминание определений
							li Запоминание последовательностей (династии, таблицы и т.д.)
							li Запоминание карт
							li Запоминание графической информации
							li Повышение уверенности в себе 
							li Умение общаться и дружить
							li Понимание своих чувств
							li Умение ставить цели и отличать цель от мечты
		+b('button-up',href,'Узнать подробнее')