section#imporatnats
	.container
		+gt('','Этот проект особо важен тем семьям, в которых ребёнок:')
		.row
			.col-md-6.col-sm-6
				ul.general-list-2
					li Ничего не хочет делать по дому. Устраивает беспорядок и отказывается его убирать;
					li Ругается и обзывается даже в присутствии родителей;
					li Постоянно ссорится со своим братом (сестрой), друзьями или родственниками;
					li Пользуется без ведома других людей их вещами, одеждой и косметикой;
					li Крадёт деньги или вещи;
					li Приглашает друзей, устраивает дома вечеринки, скрывая это от родителей;
					li Бездельничает: не хочет ходить ни в школу, ни на работу;
					li Делает домашние задания только под контролем родителей;
					li Когда делает домашние задания самостоятельно, то растягивает это на несколько часов; 
					li Стал хуже учиться, не переживая из-за плохих оценок в школе;
					li Прогуливает школу, а дома говорит, что был на уроках;
					li Предпочитает проводить больше времени вне дома, в сомнительной компании, или дома больше общаясь с компьютером, планшетом, телевизором;
			.col-md-6.col-sm-6
				ul.general-list-2
					li Связался со старшими ребятами, которые просто слоняются по улицам, курят, а, возможно, и выпивают;
					li Постоянно обманывает, а когда обман раскрывается, слабо реагирует на это;
					li Умалчивает о себе и своих делах, очень скрытен;
					li Зависит от мнения других людей, друзей, боится оценок со стороны;
					li Подавляет или скрывает свои желания и потребности;
					li На многие просьбы реагирует грубо или игнорирует их совсем;
					li Часто не слышит, что ему говорят – приходится повторять много раз;
					li Убегает из дома и бродит неизвестно где;
					li Плохо ладит с родителями или другими родственниками, живущими с ним;
					li Не следит за своими вещами, теряет их, бросает, где попало;
					li Мало интересуется делами семьи, проводит много времени перед телевизором, компьютером, планшетом или с плеером
		h4.importants-subtitle Сколько из перечисленных пунктов вы отметили для себя?
		.row
			.col-md-4.col-sm4
				.importants-item.importants-item-1
					h5.importants-item-title.importants-item-title-1
						span 1-3 
						span пункта
					h6.importants-item-subtitle В ваших отношениях с ребёнком наметилась легкая «трещина»
					p.importants-item-text Возможно, вы сами этого пока не замечаете. Сядьте вдвоём с ребёнком и обсудите те пункты, которые вас тревожат. Решайте ситуацию вдвоём - это поможет вам сблизиться
			.col-md-4.col-sm4
				.importants-item.importants-item-2
					h5.importants-item-title.importants-item-title-2
						span 4-6
						span пунктов
					h6.importants-item-subtitle Ваши отношения с ребёнком в опасности
					p.importants-item-text Вам и вашему ребёнку нужна помощь со стороны. Как вариант, в этом может помочь тренинг "Воспитание без криков, слёз и угроз" или "Летний онлайн-лагерь"
			.col-md-4.col-sm4
				.importants-item.importants-item-3
					h5.importants-item-title.importants-item-title-3
						span 7+ 
						span и более
					h6.importants-item-subtitle Осторожно! Вы можете совсем потерять связь со своим ребёнком!
					p.importants-item-text Что может вам помочь? Чтобы наладить ваши отношения и дать ему шанс стать самостоятельным, ответственным и любящим, пройдите сами тренинг "Воспитание без криков, слёз и угроз", а также консультацию психолога или психотерапевта
		+b('button-up',href,'Иду на презентацию')