section#authors
	.container
		.row
			.col-md-5.col-sm-5.col-md-push-7.col-sm-push-7
				.author-img.author-img-igor
					img(src=path+"img/images/igor.png", alt="Игорь Романец")
			.col-md-7.col-sm-7.col-md-pull-5.col-sm-pull-5
				.author-container
					h4.author-name Игорь Романец
						small тренер
					h5.author-subtitle Образование:
					ul.general-list-2
						li Новосибирская государственная медицинская академия по специальностям «Акушер-гинеколог», «Анестезиология и реанимация» и «Психология»;
						li Московский институт культуры (режиссёр пантомимы и массовых зрелищ);
						li Владеет технологиями EMPOWERMENT Кеннет Бланшар, Джона П. Карлоса и Алена Рэндолфа, ДЖУНА (бесконтактный массаж), НЛП, основополагающего коучинга
					ul.general-list-2
						li Состоит в Общероссийской Профессиональной Психотерапевтической Лиге
						li Автор программ по телесному ориентированию и тренингов личностного роста
						li Создаёт и ведёт тренинги с 1995 года, проводит индивидуальные консультации, готовит тренеров с 2001
						li Автор и тренер курса “Мужчина и женщина”, проводимого с клиентами вживую более пятнадцати лет
						li Проводит программы повышения квалификации
						li С 1995 года – тренер тренингов личностного роста (65-70 различных программ в год с охватом примерно 800-1000 человек)
						li С 1997 года работает с детьми, подростками, родителями
						li С 2010 занимается коучингом
			.col-md-5.col-sm-5
				.author-img.author-img-ilya
					img(src=path+"img/images/ilya.png", alt="Илья Исаков")
			.col-md-7.col-sm-7
				.author-container
					h4.author-name Илья Исаков
						small тренер
					ul.general-list-2
						li Санкт-Петербургский университет Петра Великого (бакалавриат)
						li Московская академия профессиональных компетенций (специальность «Учитель»)
						li Выпускник Академии смысла Андрея Курпатова
						li Закончил ATC Language School в Дублине – владение английским на уровне C1
						li Выучил итальянский до уровня А2 за 60 часов (запоминал 1000 итальянских слов в день).
						li Опыт работы преподавателем – 5 лет. Провёл более 100 курсов
						li У него учились более 3000 учеников из разных городов и стран, среди которых – студенты ВУЗов, школьники, бизнесмены, политики, актёры и т.д.
						li Тренер интеллектуальной сборной. Подопечные занимали призовые места на чемпионатах по памяти.
						li Серебряный призёр открытого кубка России по памяти в 2018 году