section#main
	.container
		include ../base/header
		h1.main-title Территория детства 
			br
			| «Летний онлайн-лагерь»
		h2.main-subtitle Самое продуктивное времяпровождение для детей в интернете!
		p.main-info Старт: 
			span 12 июня, 19:00 (мск)
		p.main-info Авторы: 
			span Игорь Романец и Илья Исаков
		+b('button-main',href,'Записаться')