section#plan
	.container
		+gt('','Программа летнего онлайн-лагеря')
		.row
			.col-md-6.col-sm-6
				h5.plan-title 1 занятие (Игорь Романец)
				ul.general-list-2.general-list-2-plan
					li Умение общаться. Умение быть в команде
					li Общение – как это?
					li Самопрезентация
					li Как собой заинтересовать или как спрятаться
					li Команда - для чего
					li Роли в команде
					li Кто я в команде: участник, статист, балласт, дух команды
					li Лидер – один или несколько?
					li Негатив/позитив
					li Серый кардинал
			.col-md-6.col-sm-6
				h5.plan-title 2 занятие (Илья Исаков)
				ul.general-list-2.general-list-2-plan.general-list-2-img
					li Знакомство. Запоминание имён и лиц
					li Информация о человеке (чем увлекается, как зовут)
					li Применение в школе (портреты, флаги и т.д.)
		.row
			.col-md-6.col-sm-6
				h5.plan-title 3 занятие (Игорь Романец)
				ul.general-list-2.general-list-2-plan
					li Дружба
					li Свобода и зависимость в дружбе
					li Предательство и укрывательство
					li Истинная и ложная дружба
			.col-md-6.col-sm-6
				h5.plan-title 4 занятие (Илья Исаков)
				ul.general-list-2.general-list-2-plan
					li Иностранные слова
					li Запоминание определений
					li Запоминание иностранных слов
					li Запоминание столиц
		.row
			.col-md-6.col-sm-6
				h5.plan-title 5 занятие (Игорь Романец)
				ul.general-list-2.general-list-2-plan
					li Чувства
					li Чувства: зачем они нужны и какими они бывают
					li Как управлять своими чувствами
					li Как понимать и определять чувства других людей
			.col-md-6.col-sm-6
				h5.plan-title 6 занятие (Илья Исаков)
				ul.general-list-2.general-list-2-plan
					li Работа с текстами
					li Выделение главного
					li Структурирование
					li Обработка
					li Запоминание
		.row
			.col-md-6.col-sm-6
				h5.plan-title 7 занятие (Игорь Романец)
				ul.general-list-2.general-list-2-plan
					li Моя гордость
					li Я – кто это? 
					li Гордость, гордыня
					li Мои умения и как их использовать максимально
					li Мои достижения
			.col-md-6.col-sm-6
				h5.plan-title 8 занятие (Илья Исаков)
				ul.general-list-2.general-list-2-plan
					li Последовательности
					li Династии
					li Таблица Менделеева
					li Станции метро
		.row
			.col-md-6.col-sm-6
				h5.plan-title 9 занятие (Игорь Романец)
				ul.general-list-2.general-list-2-plan
					li Цель и мечта
					li Учимся ставить цели, которые можно достичь, используя свою личную силу
					li Чем мечта отличается от цели
			.col-md-6.col-sm-6
				h5.plan-title 10 Финальная игра. Выпускной