section#prices
	.container
		+gt('','Выберите свой вариант участия:')
		.packets
			.row
				.col-md-6.col-sm-6
					.packet.packet-1
						.packet-head 
							h4.packet-head-title.packet-head-title-1 Без вовлечения
								span родителей
						.packet-body
							p.packet-body-text 10 онлайн-занятий
							a.more-button(href="#Modal") подробнее
							p.cost Стоимость:
								span 9 900р.
							+b('','https://shop.mastervision.su/?r=ordering/cart/as1&id=5021&clean=true&lg=ru','Выбрать','_blank')
				.col-md-6.col-sm-6
					.packet.packet-2
						.packet-head 
							h4.packet-head-title.packet-head-title-2 С вовлечением
								span родителей
						.packet-body
							p.packet-body-text 10 онлайн-занятий
							a.more-button(href="#Modal") подробнее
							p.cost Стоимость:
								span 11 900р.
							+b('','https://shop.mastervision.su/?r=ordering/cart/as1&id=5022&clean=true&lg=ru','Выбрать','_blank')